/* mobile size*/

@media only screen and (max-width: 600px) {
	nav {
		font-weight: bold;
		color: black;
		border: 2px solid royalblue;
		text-align: center;
		width: 10em;
		background-color: #DDDDDD;
	}
	nav ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	nav:hover ul {
		display: block
	}
	nav ul li {
		border-top: 2px solid royalblue;
		backbround-color: white;
		list-style: none;
		width: 10em;
		color: black;
	}
	nav ul li:hover {
		background-color: powderblue;
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}


/* desktop size */

@media only screen and (min-width: 600px) {
	#dropdown-menu {
		display: none;
	}
	nav {
		padding: 10px;
		margin: 10px;
		font: bold 1em;
		background: #FFD6FF;
		width: 100%;
		border-bottom: 2px solid #666666;
		height: 22px;
	}
	nav ul {
		text-align: center;
		margin: 0;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	nav li {
		display: inline;
		list-style: none;
	}
	nav a {
		text-decoration: none;
		margin: 0;
		padding: 2px 10px;
		border-top: 1px solid #fff;
		border-right: 1px solid #aaa;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #aaa;
	}
	nav a:link {
		color: #80386A;
	}
	nav a:visited {
		color: #B54F99;
	}
	nav a:hover {
		color: #FFF;
		background: #666;
	}
}

body{
    background-color: #B8C0FF;
}
h1 {
	text-shadow: -3px 3px 3px black;
	color: #E7C6FF;
}